body {
    background-color: turquoise;
}

table {
    border: black 1px solid;
}

td {
    background-color: whitesmoke;
    border: black 1px solid;
}

th {
    background-color: grey;
}

h2 {
    color: crimson;
}
